body{
    background-color: #ECEFF1;
    margin: 0;
    font-family: 'Inter', serif;
    color: black;
}

nav{
    background-color: #003B65;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.intro h1{
    color: white;
}

.auto{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 3px solid #e9b92f;
}


.car{
    border-radius: 50%;
}

.links{
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.links a{
    color: white;
    text-decoration: none;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
}

.collections{
    background-color:#ECEFF1;
    margin-bottom: 0;
}

.text{
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car{
    height: 300px;
    width: 320px;
    object-fit: cover;

}
.footer{
    background-color: #091233;
    bottom: 0;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}

.media{
    width: 30px;
    height: 30px;
    gap: 30px;    
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.mastercard{
    width: 80px;
    height: 30px;
}

.left h1{
    color: white;
}

h6{
    color: white;
}

.sociallink{
    display: flex;
    gap: 20px;
}

hr{
    padding: 20px 30px 20px 30px;
    border-color: #e9b92f;
    border: bold 2px;


}


